.THIS {
}

.THIS .display-button {background-color: black ; color: white}

.THIS .yellow-button { background-color: yellow ; color: black;}

.THIS .red-button { background-color: red ; color: white;}

.THIS .blue-button { background-color: blue ; color: white;}

.THIS .green-button { background-color: green ; color: black;}

.THIS .button-grid {
    display: grid;
	}


.THIS .button {
    font-size: 250px;
}

.THIS .c-container {
    border: 5px outset black;
    	text-align: center;
}